# # MongoDB connection string used by MongoDB Compass and the app
# MONGO_URI=mongodb://127.0.0.1:27017/vetinary

# # Nodemailer SMTP settings for sending notification emails
# SMTP_HOST=smtp.example.com
# SMTP_PORT=587
# SMTP_SECURE=false
# SMTP_USER=your-smtp-user
# SMTP_PASS=your-smtp-password
# EMAIL_FROM=no-reply@vetinary.com

MONGO_URI=mongodb://127.0.0.1:27017/vetinary

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=Johnsonagozah224@gmail.com
SMTP_PASS="adpl okxq eiqn jnki"
EMAIL_FROM=Johnsonagozah224@gmail.com