MONGO_URI=mongodb://127.0.0.1:27017/vetinary

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=Johnsonagozah224@gmail.com
SMTP_PASS="adpl okxq eiqn jnki"
EMAIL_FROM=Johnsonagozah224@gmail.com